<app-title [title]="'cube-ui'"></app-title>
<input [(ngModel)]="input"
type="text"
(ngModelChange)="calculate()"
placeholder="Enter some text here" />

<p>average: {{stats.avg}}</p>
<p>median: {{stats.med}}</p>

<app-three></app-three>
