<app-title [title]="'App 2'"></app-title>

<input [(ngModel)]="input"
type="text"
(ngModelChange)="calculate()"
placeholder="Enter some text here" />

<p>average: {{stats.avg}}</p>
<p>median: {{stats.med}}</p>

